# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Build / Distribution
dist/
build/

# Testing
.pytest_cache/
htmlcov/
coverage.xml
reports/

# Linting / Type checking
.ruff_cache/
.mypy_cache/

# Environment
.env

# PyInstaller
*.spec
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo
